<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <ul>
        <% users.forEach(function(item){%>
            <li>
                <%=item.name%>
            </li>
            <li>
                <%=item.email%>
            </li>

            <%})%>
    </ul>

</body>

</html>